<section class="form test-form-1">
    <div class="container">
        <form id="quizForm">
            <div class="question">Чи споживає телевізор, який знаходиться і черговому режимі(або Stand-by), електроенергію?</div>
            <label>
                <input type="radio" name="question" value="option1_1" onclick="selectAnswer('option1_1')"> Споживає 1 Вт в місяць.
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option1_2" onclick="selectAnswer('option1_2')"> Не споживає.
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option1_3" onclick="selectAnswer('option1_3')"> Споживає 4 кВт в місяць.
            </label>
            <br>
            <button id="submit-btn" type="button" onclick="checkAnswer(); submitAnswer()">Відповісти</button>
        </form>
    
        <div id="correctAlert" class="customAlert">
            <p>Молодець, вірно!</p>
        </div>
    
        <div id="incorrectAlert" class="customAlert">
            <p>На жаль, не вірно.</p>
        </div>
    </div>
</section>