<section class="form test-form-1">
    <div class="container">
        <form id="quizForm">
            <div class="question">Чи споживає телевізор, який знаходиться і черговому режимі(або Stand-by), електроенергію?</div>
            <label>
                <input type="radio" name="question" value="option1.1"> Споживає 1 Вт в місяць.
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option1.2"> Не споживає.
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option1.3"> Споживає 4 кВт в місяць.
            </label>
            <br>
            <button type="button" onclick="checkAnswerOne()">Відповісти</button>
        </form>
    
        <div id="correctAlert" class="customAlert">
            <p>Молодець, вірно!</p>
        </div>
    
        <div id="incorrectAlert" class="customAlert">
            <p>На жаль, не вірно.</p>
        </div>
    </div>
</section>