<section class="form">
    <div class="container">
        <form id="quizForm">
            <div class="question">З яких матеріалів можуть виготовлятись повітряні чи кабельні лінії електропередач?</div>
            <label>
                <input type="radio" name="question" value="option5.1"> Алюмінію
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option5.2"> Міді
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option5.3"> Сталі
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option5.4"> З усіх вище перерахованих матеріалів
            </label>
            <br>
            <button type="button" onclick="checkAnswerFive()">Відповісти</button>
        </form>
    
        <div id="correctAlert" class="customAlert">
            <p>Молодець, вірно!</p>
        </div>
    
        <div id="incorrectAlert" class="customAlert">
            <p>На жаль, не вірно.</p>
        </div>

    </div>
</section>