<section class="form test-form-2">
    <div class="container">
        <form id="quizForm">
            <div class="question">Акробат йде по канату, зазирає в кожну хату. У світлицю хто гукне, тому світло увімкне.</div>
            <label>
                <input type="radio" name="question" value="option2.1"> Електричний струм.
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option2.2"> Генератор.
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option2.3"> Трансформатор.
            </label>
            <br>
            <label>
                <input type="radio" name="question" value="option2.4"> Лампочка.
            </label>
            <br>
            <button type="button" onclick="checkAnswerTwo()">Відповісти</button>
        </form>
    
        <div id="correctAlert" class="customAlert">
            <p>Молодець, вірно!</p>
        </div>
    
        <div id="incorrectAlert" class="customAlert">
            <p>На жаль, не вірно.</p>
        </div>

    </div>
</section>